body {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("http://cdn.mhpbooks.com/uploads/2014/12/shutterstock_149463557.jpg") ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.container {
    display: flex;
    flex-direction: column;
    
    border: 5px solid #14B8A6;
    border-radius: 25px;
    padding: 50px;
}

.open-modal {
    padding: 5px 25px 5px 25px;
    border: none;
    background-color:#14B8A6;
    border-radius: 15px;
    color: white;
    font-size: 1.5rem;
}

.open-modal:hover {
    background-color: #134E4A;
    cursor: pointer;
}

.modal-box{
    padding: 50px;
    background-color:#14B8A6;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 25px;

   
}

.close-modal {
    padding: 0px;
    position: relative;
    top: -35%;
    left: 10%;
    color: red;
    background-color:#14B8A6;
    border: none;
}

.close-modal:hover{
    cursor: pointer;
}
